<div><h1 class="text-center text-warning fs-3">ShoppingList</h1>
<div class="flex flex-col justify-center items-center  mb-2">
<p> Amount of food items to buy: <%= @shopping_list.count %> </p>
<p>Total value of food needed: <%= @shopping_list.sum(:price) %> </p>
</div>

<table class="table table-striped table-hover table-bordered">
<thead class="bg-success text-white">
  <tr>
    <th scope="col">Food</th>
    <th scope="col">Quantity</th>
    <th scope="col">Quantity</th>
    <th scope="col">Actions</th>
  </tr>
</thead>
<tbody>
<% @shopping_list.each do |food| %>
  <tr>
    <th scope="row" class="text-black"><%= food.name %></th>
    <td class="text-black"><%= food.price/2 %> grams</td>
    <td class="text-black">$<%= food.price %></td>
    <td  class="text-red-700 text-decoration-none><%= link_to 'Remove', url: "/shopping_list/id"%></td>
  </tr>
  <% end %>
</tbody>
</table>
</div>
<%= link_to 'Back', foods_path %>
</div>
