<% @recipes.includes([:user]).each do |recipe| %>
  <%= link_to(recipe_path(recipe.id), class:"text-decoration-none") do %>
  <div id="reciped" class="d-flex justify-content-around w-full">
    <div class="w-full p-4 h-auto">
      <h5 class="pt-4 pl-4 text-light text-xl"><%= recipe.name %></h5>
      <p class="text-warning"> By: <%= recipe.user.name %></p>
      <% if recipe.public %>
      <span class="badge bg-success">Public</span>
      <% else %>
      <span class="badge bg-warning">Private</span>
      <% end %>
    </div>
    <ul class="flex justify-end items-center flex-wrap w-full">
      <li class="text-decoration-none text-black m-auto"><p class="w-fit"><%= recipe.description %></p></li>
    </ul>
  </div>
  <% end %>
  <div class="container-fluid d-flex justify-content-start p-4">
    <%= button_to "Remove", recipe_path(recipe.id), method: :delete, class: "text-light bg-danger btn btn-outline-danger" %>
  </div>
<% end %>