<%= form_with model: @recipe, url: user_recipe_index_path, local: true, data: {turbo:false} do |f| %>
  <div class="card-body  p-0 sm:p-4 md:p-6 flex flex-col justify-center w-full sm:w-3/4 md:w-6/12 h-auto ml-auto mr-auto mt-2 sm:mt-6 sm:m-auto md:m-auto">
    <h2 class="border-b text-md font-bold sm:text-2xl md:text-3xl border-grayLight mb-4 md:mb-6"> Add a new recipe </h2>
    <% if @recipe.errors.any? %>
      <div id="error_explanation">
        <h2 class="text-red">All fields are required</h2>
      </div>
    <% end %>
    <%= f.text_field :name, placeholder:"Recipe name", class:"form-control p-2 mt-2 focus:ring-none focus:border-none"  %>
    <%= f.text_field :preparation_time, placeholder:"Preparation time", class:"form-control p-2 mt-2 focus:ring-none focus:border-none" %>
    <%= f.text_field :cooking_time, placeholder:"Cooking time", class:"form-control p-2 mt-2 focus:ring-none focus:border-none" %>
    <%= f.text_area :description, placeholder:"Description...", rows: "5", class: "block p-2 w-full mt-2 rounded focus:ring-none focus:border-none form-control" %>
    <p class="flex gap-2 mt-2 sm:mt-4 md:mt-6 align-items-center text-primary"><%= f.check_box :public, {}, "true", "false"  %> Make this recipe public</p>
    <%= f.submit "Save Recipe", class: "btn btn-success btn-md p-2 mt-2" %>
  </div>
<% end %>

