<h1 class="text-center"><%=  @recipe.name %>
<% if @recipe.public %>
    <span class="badge bg-secondary">Public</span>
    <% else %>
    <span class="badge bg-secondary">Private</span>
    <% end %>
</h1>
<% if can? :manage, @recipe %>
<% if @recipe.public %>
  <%= button_to "Public", update_recipe_path(id: @recipe), method: :patch, class:"btn btn-success btn-sm btn1" %>
<% else %>
  <%= button_to "Private", update_recipe_path(@recipe), method: :patch, class:"btn btn-secondary btn-sm btn1" %>
<% end %>
<% end %>
<div class="card w-75 container">
  <div class="card-body row align-items-between">
    <div class="col col-md-6 ms-3">
      <h4 class="fw-bold my-1">Preparation Time: <%= @recipe.preparation_time/60 %> hours <%= @recipe.preparation_time%60 %> minutes</h4>
      <h4 class="fw-bold my-4">Cooking Time: <%= @recipe.cooking_time/60 %> hours <%= @recipe.cooking_time%60 %> minutes</h4>
    </div>
  </div>
  <div class="row card-body">
    <div class="card-body col col-md-12">
      <h4 class="fw-bold my-1">Description</h4>
      <p class="fs-6">
        <%= @recipe.description %>
  </div>
    <div class="col ms-auto d-flex justify-content-between">
      <%#<% if @recipe.user == @current_user%> <%# un-comment this latter %>
        <%= link_to 'Generate shopping list', class: "btn btn-primary" %>
        <%= link_to "Add Ingredients", new_recipe_recipe_food_path(@recipe.id), class: "btn btn-outline-dark" %>
      <%#<% end %> <%# un-comment this latter %>
    </div>
</div>
