<div class="mb-4 md:mb-6">
  <h1 class="text-center">
  <%=  @recipe.name %>
  <% if @recipe.public %>
      <span class="badge bg-primary text-white w-auto p-2 sm:p-2.5 md:p-4 text-md md:text-xl font-medium">Public</span>
      <% else %>
      <span class="badge bg-greenDark text-white w-auto p-2 sm:p-2.5 md:p-4 text-md md:text-xl font-medium">Private</span>
      <% end %>
  </h1>
</div>
<div class="container w-full p-0 border rounded">
  <div class="w-full md:mt-4 p-2 align-items-center">
    <% if can? :update, @recipe %>
      <%= button_to 'update', update_recipe_path(id: @recipe), method: :patch, class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
  <div class="col col-md-6 px-2 border-b border-grayLight">
    <h4 class="fw-normal my-1 text-sm sm:text:md md:text-xl text-grayDark">Preparation Time:
      <% if @recipe.preparation_time/60 && @recipe.preparation_time%60 > 1 %>
        <%= @recipe.preparation_time/60 %>hrs :
        <%= @recipe.preparation_time%60 %>mins
      <% else %>
        <%= @recipe.preparation_time/60 %>hr :
        <%= @recipe.preparation_time%60 %>min
      <% end %>
    </h4>
    <h4 class="fw-normal my-1 text-sm sm:text:md md:text-xl text-grayDark">Cooking Time:
      <% if @recipe.cooking_time/60 && @recipe.cooking_time%60 > 1 %>
        <%= @recipe.cooking_time/60 %>hrs :
        <%= @recipe.cooking_time%60 %>mins
      <% else %>
        <%= @recipe.cooking_time/60 %>hr :
        <%= @recipe.cooking_time%60 %>min
      <% end %>
    </h4>
  </div>
  <div class="row card-body">
    <div class="card-body col col-md-12">
      <h4 class="fw-bold my-1">Description</h4>
      <p class="fs-6">
      <%= @recipe.description %>
</div>
<div class="mt-5 d-flex justify-content-around content">
  <div class='btn-container'>
    <button type="button" class="btn btn-primary link-btn" data-bs-toggle="modal" data-bs-target="#recipeModal">
      Generate shopping list
    </button>
    <%= link_to "Add Ingredients", new_recipe_recipe_food_path(@recipe.id), class: "btn btn-outline-dark link-btn" %>
  </div>
  <div class="mt-5 d-flex justify-content-around">
    <div class="col ms-auto d-flex justify-content-between ">
      <div class="modal fade" id="recipeModal" tabindex="-1" aria-labelledby="recipeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="recipeModalLabel">Generating shopping list</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <%= form_with url: "/inventory_food/#{:inventory_food_id}/shopping_list/#{:recipe_id}", method: :post do |form| %>
              <div class="modal-body">
                Choose an inventory to use:
                <%= form.select :inventory_id, current_user.inventories.order(:name).pluck(:name, :id), {}, class: "form-select form-select-lg mt-3" %>
              </div>
              <div class="modal-footer">
                <%= form.submit 'Generate', class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <table>
        <thead>
          <tr>
            <th>Food</th><br/>
            <br/>
            <th>Quantity</th>
            <br/>
            <th>Value</th>
            <br/>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @shopping_list.each do |food_item| %>
          <tr>
            <td><%= food_item.name %></td>
            <td><%= food_item.price/2 %> grams</td>
            <td>$<%= food_item.price %></td>
            <td><%= link_to 'Remove', url: "/shopping_list/id" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
