<nav class=" p-3 mb-2 bg-success text-dark w-100">
  <div class="container flex flex-wrap justify-between align-items-center mx-auto items-center">
     <%= link_to 'Recipe App', root_path, class: "text-xl text-decoration-none text-warning fs-3" %>
      <ul class="d-flex gap-4 justify-content-center align-items-center pt-2">
        <% if user_signed_in? %>
            <li class="nav-item">
                <%= link_to 'Foods', foods_path, class: "text-decoration-none text-white text-sm sm:text-xs hover:text-black" %>
            </li>
            <li class="nav-item">
                <%= link_to 'PublicRecipe', public_recipes_path, class: "text-decoration-none text-white text-sm sm:text-xs" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Inventories', user_inventories_path(user_id: current_user), class: "text-decoration-none text-white text-sm sm:text-xs" %>
            </li>
            <li class="nav-item">
                <%= link_to 'shoppinglist', shopping_list_index_path, class: "text-decoration-none text-white text-sm sm:text-xs" %>
            </li>
            <%= button_to "Log Out", destroy_user_session_path, method: :delete, data: { turbo: false }, class:"btn btn-danger" %>
          <% else %>
          <div class="d-flex gap-4">
            <%= link_to "Sign in", new_user_session_path, class: "text-decoration-none text-white" %>
            <%= link_to "Sign up", new_user_registration_path, class: "text-decoration-none text-white" %>
          </div>
        <% end %>
       </ul>
    </diV>
</nav>
